{
  "AWSEBDockerrunVersion": "1",
  "Authentication": {
    "Bucket": "ninjablocks-sphere-docker",
    "Key": "dockercfg"
  },
  "Image": {
    "Name": "ninjasphere/douitsu:<TAG>",
    "Update": "true"
  },
  "Ports": [
    {
      "ContainerPort": "3333"
    }
  ]
}
