
<div ng-controller="Applications">

  <h3 ng-show="show_applications_list" ng-i18next="[html]title.your-applications"></h3>


  <div ng-show="show_applications_list">
    <br>
    <ul class="selection-list nav nav-stacked nav-pills">
      <li ng-repeat="application in applications" class="application_item">
        <a ng-click="open_application(application.id)" class="application_name" style="float:left">{{application.name}}</a>
        <a ng-click="delete_application(application.id)" class="btn btn-primary btn-item-action" style="float:right" ng-i18next="[html]btn.delete"></a>
      </li>
    </ul>
  </div>

  <div ng-show="show_applications_list">
    <br>
    <a class="btn btn-primary" ng-click="new_application()" ng-i18next="[html]link.create-application"></a>
  </div>

  <h3 ng-show="show_applications_list" style="margin-top: 60px" ng-i18next="[html]title.access-tokens"></h3>

  <div ng-show="show_applications_list">
    <br>
    <ul class="selection-list nav nav-stacked nav-pills">
      <li ng-repeat="user_application in user_applications" class="application_item">
        <span class="application_name" style="float:left; padding: 12px;">{{user_application.clientName}}</span>
        <a ng-click="revoke_user_application(user_application.clientID)" class="btn btn-primary btn-item-action" style="float:right" ng-i18next="[html]btn.revoke"></a>
      </li>
    </ul>
  </div>


  <h3 ng-show="show_application_details" ng-i18next="[html]title.application-details"></h3>

  <form role="form" ng-show="show_application_details">
    <br>

    <div class="form-group" style="width:45%;float:right;text-align:right">
      <div class="dropzoneWrap">
        <div ng-show="dropSupported" class="dropbox" ng-file-drop="onFileSelect($files);" ng-file-drop-available="dropSupported=true">
          <img ng-show="imageUrl" ng-src="{{imageUrl}}" width="200px">
        </div>
      </div>
      <div ng-show="!dropSupported" style="margin-left:200px;width:200px;text-align:center;float:right" ng-i18next="[html]label.drop-not-supported"></div>
      <div ng-show="dropSupported" style="margin-left:200px;width:200px;text-align:center;float:right"><label ng-i18next="[html]label.drop-photo"></label></div>
    </div>

    <p ng-if="application.appid">{{'label.client-id' | i18next }}: {{application.appid}}</p>
    <p ng-if="application.secret">{{'label.client-secret' | i18next }}: {{application.secret}}</p>

    <div ng-class="{'form-group':true,mvp_seek_input:seek_name}">
      <input type="text" class="form-control half-width" id="field_name" ng-model="field_name" data-i18n="[placeholder]placeholder.application-name">
      <label ng-i18next="label.users-trust"><label>
    </div>

    <div ng-class="{'form-group':true,mvp_seek_input:seek_homeurl}">
      <input type="text" class="form-control half-width" id="field_homeurl" ng-model="field_homeurl" data-i18n="[placeholder]placeholder.homepage-url">
      <label ng-i18next="label.homepage-url"><label>
    </div>

    <div ng-class="{'form-group':true,mvp_seek_input:seek_callback}">
      <input type="text" class="form-control half-width" id="field_callback" ng-model="field_callback" data-i18n="[placeholder]placeholder.auth-callback-url">
      <label ng-i18next="label.auth-callback-url"><label>
    </div>

    <div ng-class="{'form-group':true,mvp_seek_input:seek_desc}">
      <textarea class="form-control" id="field_desc" ng-model="field_desc" data-i18n="[placeholder]placeholder.application-desc"></textarea>
      <label ng-i18next="label.application-desc"><label>
    </div>

    <a type="submit" class="btn btn-primary" style="float:left;width:45%" ng-click="save_application()" ng-i18next="[html]btn.save"></a>
    <a type="submit" class="btn btn-primary" style="float:right;width:45%" ng-click="close_application()" ng-i18next="[html]btn.close"></a>

    <p class="account_msg" style="clear:both;padding-top:50px">
      {{application_msg | i18next}}
    </p>
  </form>

</div>

