<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title ng-i18next="[html]app.name"></title>

  <style>
    @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local('Raleway Bold'), local('Raleway-Bold'), url(/css/JbtMzqLaYbbbCL9X6EvaI73hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
    }

    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
    }
  </style>

  <link rel="shortcut icon" type="image/x-icon" href="http://cdn.shopify.com/s/files/1/0201/1862/t/2/assets/favicon.png?1871">
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/animate.css" rel="stylesheet">
  <link href="/css/ninjablocks.css" rel="stylesheet">
  <link href="/css/upload.css" rel="stylesheet">
  <% if (theme.style) { %><link href="<%= theme.style %>" rel="stylesheet"><% } %>
</head>