<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Ninja Blocks</title>

    <style>
      @font-face {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 700;
      src: local('Raleway Bold'), local('Raleway-Bold'), url(/css/JbtMzqLaYbbbCL9X6EvaI73hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
      }

      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
      }
    </style>

    <link rel="shortcut icon" type="image/x-icon" href="http://cdn.shopify.com/s/files/1/0201/1862/t/2/assets/favicon.png?1871">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/ninjablocks.css" rel="stylesheet">
    <link href="/css/upload.css" rel="stylesheet">
    <% if (theme.style) { %><link href="<%= theme.style %>" rel="stylesheet"><% } %>
  </head>

  <body ng-app="home" ng-controller="Main" ng-cloak>

    <div id="wrap">

      <div class="container" >
        <div class="navbar">
          <h3 class="text-muted"><img src="/img/logo.png"></h3>
        </div>


        <div class="row" id="welcome" ng-controller="Login" ng-show="show_login">
          <div class="col-lg-4" ng-show="!signup_enabled">&nbsp;</div>
          <div class="col-lg-5">
            <h2 class="login_head" ng-i18next="[html]title.signin"></h2>
            <div>
              <form role="form">
                <div style="height:85px" ng-class="{'form-group':true,mvp_seek_input:seek_email}">
                  <input type="text" class="form-control" id="email" data-i18n="[placeholder]placeholder.email" ng-model="input_email" tab-index="2">
                </div>
                <div style="height:85px" ng-class="{'form-group':true,mvp_seek_input:seek_password}">
                  <input type="password" class="form-control" id="password" data-i18n="[placeholder]placeholder.password" ng-model="input_password" tab-index="3">
                </div>
                <a ng-class="{btn:true, 'btn-primary':true, mvp_seek_input:seek_signin}" href="#"  ng-click="signin()" tab-index="5" ng-i18next="[html]btn.submit"></a>
              </form>
              <p>
                <a class="forgot-password" href="#" ng-click="forgot()" ng-i18next="[html]link.forgot-password"></a>
              </p>
            </div>

            <p style="margin-top:40px;color:red" ng-show="showmsg">{{msg | i18next}}</p>

          </div>

          <div class="col-lg-1" ng-show="signup_enabled" style="border-right: 2px solid #080808;height:130%">&nbsp;</div>
          <div class="col-lg-1" ng-show="signup_enabled">&nbsp;</div>

          <div class="col-lg-5" ng-show="signup_enabled">
            <h2 class="login_head" ng-i18next="[html]title.not-a-ninja"></h2>

            <p style="text-align:center;height:200px;margin:0;"><img src="/img/ninja.png"></p>

            <a ng-class="{btn:true, 'btn-primary':true, mvp_seek_input:seek_signup, animated:true, fadeIn:fadein_signup, fadeOut:fadeout_signup}" href="#"  ng-click="signup()" tab-index="5" ng-i18next="[html]btn.create-account"></a>

          </div>

          <div class="col-lg-2"></div>
        </div>

        <div class="row" id="signup" ng-controller="Signup" ng-show="show_signup">
          <div class="col-lg-3"></div>

          <div class="col-lg-6">
            <h2 class="login_head" ng-i18next="[html]title.create-account"></h2>
            <div>
              <form role="form">
                <div class="form-group" style="width:45%;float:right;text-align:right">
                  <div class="dropzoneWrap">
                    <div ng-show="dropSupported" class="dropbox" ng-file-drop="onFileSelect($files);" ng-file-drop-available="dropSupported=true">
                      <img ng-show="imageUrl" ng-src="{{imageUrl}}" width="200px">
                    </div>
                  </div>
                  <div ng-show="!dropSupported" style="margin-left:200px;width:200px;text-align:center;float:right" ng-i18next="[html]label.drop-not-supported"></div>
                  <div ng-show="dropSupported" style="margin-left:200px;width:200px;text-align:center;float:right"><label ng-i18next="[html]label.drop-photo"></label></div>

                </div>
                <div style="height:85px" ng-class="{'form-group':true,mvp_seek_input:seek_name}">
                  <input type="text" class="form-control half-width" id="name" data-i18n="[placeholder]placeholder.name" ng-model="input_name" tab-index="2">
                </div>
                <div style="height:85px" ng-class="{'form-group':true,mvp_seek_input:seek_email}">
                  <input type="text" class="form-control half-width" id="email" data-i18n="[placeholder]placeholder.email" ng-model="input_email" tab-index="3">
                </div>
                <div style="height:85px" ng-class="{'form-group':true,mvp_seek_input:seek_password}">
                  <input type="password" class="form-control half-width" id="password" data-i18n="[placeholder]placeholder.password" ng-model="input_password" tab-index="4">
                </div>
                <div style="height:85px" ng-class="{'form-group':true,mvp_seek_input:seek_verify_password}">
                  <input type="password" class="form-control half-width" id="verify_password" data-i18n="[placeholder]placeholder.verify-password" ng-model="input_verify_password" tab-index="5">
                </div>
                <a ng-class="{btn:true, 'btn-primary':true, mvp_seek_input:seek_signup}" href="#"  ng-click="signup()" tab-index="7" ng-i18next="[html]btn.submit"></a>
              </form>
              <p>
                <a class="forgot-password" href="/" ng-i18next="[html]link.have-account"></a>
              </p>
            </div>

            <p style="margin-top:40px;color:red" ng-show="showmsg">{{msg | i18next}}</p>
          </div>

          <div class="col-lg-3"></div>
        </div>

        <div class="row" id="forgot" ng-controller="Forgot" ng-show="show_forgot">
            <div class="col-lg-3"></div>

            <div class="col-lg-6">
              <h2 class="login_head" ng-i18next="[html]title.forgot-password"></h2>
              <div>
                <form role="form">
                  <div style="height:85px" ng-class="{'form-group':true,mvp_seek_input:seek_email}">
                    <input type="text" class="form-control" id="email" data-i18n="[placeholder]placeholder.email" ng-model="input_email" tab-index="2">
                  </div>
                  <a ng-class="{btn:true, 'btn-primary':true, mvp_seek_input:seek_signup}" href="#"  ng-click="forgot()" tab-index="3" ng-i18next="[html]btn.submit"></a>
                </form>
              </div>

              <p style="margin-top:40px;color:red" ng-show="showmsg">{{msg | i18next}}</p>
            </div>

            <div class="col-lg-3"></div>
        </div>


        <div class="row" id="reset" ng-controller="Reset" ng-show="show_reset">
          <div class="col-lg-2">&nbsp;</div>
          <div class="col-lg-6">
            <h1 ng-i18next="[html]title.password-reset"></h1>
            <form role="form" ng-show="show_reset">
              <div ng-class="{'form-group':true,mvp_seek_input:seek_password}">
                <label for="password" ng-i18next="[html]label.password"></label>
                <input type="password" class="form-control" id="password" data-i18n="[placeholder]placeholder.password" ng-model="input_password" tab-index="1">
              </div>
              <div ng-class="{'form-group':true,mvp_seek_input:seek_repeat}">
                <label for="repeat" ng-i18next="[html]label.verify-password"></label>
                <input type="password" class="form-control" id="repeat" data-i18n="[placeholder]placeholder.verify-password" ng-model="input_repeat" tab-index="2">
              </div>

              <a ng-class="{btn:true, 'btn-primary':true, mvp_seek_input:seek_reset}" ng-show="show_resetpass" href="#" ng-click="reset()" ng-i18next="[html]btn.reset-password"></a>
              <a ng-class="{btn:true, 'btn-primary':true }" href="#" ng-show="show_gohome" ng-click="gohome()" ng-i18next="[html]btn.signin"></a>

            </form>
            <p style="margin-top:40px;color:red">
              {{msg | i18next}}
            </p>
          </div>
          <div class="col-lg-1">&nbsp;</div>
        </div>


        <div class="row" id="confirm" ng-controller="Confirm" ng-show="show_confirm">
          <div class="col-lg-2">&nbsp;</div>
          <div class="col-lg-6">
            <h1 ng-i18next="[html]title.confirm-account"></h1>

            <p style="">
              {{msg | i18next}}
            </p>

            <a ng-class="{btn:true, 'btn-primary':true }" href="#" ng-show="show_goaccount" ng-click="goaccount()" ng-i18next="[html]btn.your-account"></a>
            <a ng-class="{btn:true, 'btn-primary':true }" href="#" ng-show="show_gohome" ng-click="gohome()" ng-i18next="[html]btn.signin"></a>

          </div>
          <div class="col-lg-1">&nbsp;</div>
        </div>

    </div> <!-- /container -->

    <footer>
      <div class="container" style="text-align:right;">
        <p>&copy; NinjaBlocks 2014</p>
      </div>
    </footer>

    <!-- angular-file-upload-shim.min.js to support upload progress/abort and non-HTML5 FormData browsers.-->
    <!-- Note: MUST BE PLACED BEFORE angular.js-->
    <script src="/bower_components/underscore/underscore-min.js"></script>
    <script src="/bower_components/jquery/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/ng-file-upload/angular-file-upload-shim.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/i18next/release/i18next-1.7.1.min.js"></script>
    <script src="/bower_components/ng-i18next/dist/ng-i18next.min.js"></script>
    <script src="/bower_components/ng-file-upload/angular-file-upload.min.js"></script>
    <script src="/bower_components/angular-md5/angular-md5.min.js"></script>

    <script><%- features %></script>
    <script><%- languages %></script>
    <script src="/js/main.min.js"></script>



  </body>
</html>

