<!DOCTYPE html>
<html class="login-bg">
  <%- include head.ejs %>

<body ng-app="home" ng-controller="Main" ng-cloak>
    <link rel="stylesheet" href="/css/theme/sphere/css/compiled/signup.css" type="text/css" media="screen" />
    <style type="text/css">

      @media screen and (max-width: 480px) {
        .login-wrapper {
          width: 100%;
          padding: 0px;
        }

        .login-wrapper .box {
          width: 100%;
          padding: 30px 0 30px;
          margin: 0px !important;
          border-radius: 0px;
        }

        .login-wrapper .content-wrap label {
          width: 90% !important;
        }
      }

    </style>
    <div class="header">
        <a href="/">
            <img src="/css/theme/sphere/logo.png" class="logo" alt="logo" width="200" />
        </a>
    </div>
    <div class="login-wrapper container" >
      <div class="box" ng-controller="PasswordResetCtrl">
        <div class="content-wrap" ng-if="!submitted">
          <h6><span>Reset Password</span></h6>
          <form name="frmSignin" ng-submit="ResetPassword()" novalidate>
            <label for="email" style="width:90%"><!-- New Password -->
              <input id="email" ng-model="email" ng-required="true" class="form-control" type="email" placeholder="Email" required="required">
            </label>
            <div class="action">
              <input type="submit" value="Reset Password" class="btn-glow primary signup">
            </div>
          </form>
        </div>
        <div class="content-wrap" ng-if="submitted">
          <p>A password reset confirmation email has been sent to {{ email }}.</p>
        </div>
      </div>
    </div>


  <%- include scripts.ejs %>

    <script type="text/javascript">

      angular.module('home').controller('PasswordResetCtrl', ['$scope', '$rootScope', '$http', function($scope, $rootScope, $http) {

        $scope.email = '';

        $scope.submitted = false;

        $scope.ResetPassword = function() {
          // hack
          $scope.email = this.email;

          if (this.email === '') {
            alert('Please enter an email address');
            return;
          }
          if (this.frmSignin.$valid) {
            $http.post('/auth/create_reset', { email: this.email }).success(function(data,status) {
              $scope.submitted = true;

            }).error(function(data,status) {
              $scope.submitted = true;
              console.log("error", data, status);
            })
          } else {
            
          }
        };

      }]);
    </script>

  </body>
</html>