
<div ng-controller="Applications">

  <h3 ng-show="show_applications_list">Y O U R&nbsp;&nbsp;&nbsp;A P P L I C A T I O N S</h3>
  

  <div ng-show="show_applications_list">
    <br>
    <ul class="selection-list nav nav-stacked nav-pills">
      <li ng-repeat="application in applications" class="application_item">
        <a ng-click="open_application(application.id)" class="application_name" style="float:left">{{application.name}}</a>
        <a ng-click="delete_application(application.id)" class="btn btn-primary btn-item-action" style="float:right">D E L E T E</a>
      </li>
    </ul>
  </div>

  <div ng-show="show_applications_list">
    <br>
    <a class="btn btn-primary" ng-click="new_application()">C R E A T E&nbsp;&nbsp;&nbsp;A P P L I C A T I O N</a>
  </div>


  <h3 ng-show="show_application_details">A P P L I C A T I O N&nbsp;&nbsp;&nbsp;D E T A I L S</h3>

  <form role="form" ng-show="show_application_details">
    <br>

    <div class="form-group" style="width:45%;float:right;text-align:right">
      <div class="form-control" style="width:200px;height:200px;float:right">&nbsp;</div>
      <div style="margin-left:200px;width:200px;text-align:center;float:right"><label>A P P&nbsp;&nbsp;&nbsp;P H O T O<label></div>
    </div>

    <p ng-if="application.appid">Client ID: {{application.appid}}</p>
    <p ng-if="application.secret">Secret: {{application.secret}}</p>

    <div class="form-group">
      <input type="text" class="form-control half-width" id="field_name" ng-model="field_name" placeholder="Application Name">
      <label>Something that users will trust<label>
    </div>

    <div class="form-group">
      <input type="text" class="form-control half-width" id="field_homeurl" ng-model="field_homeurl" placeholder="Homepage URL">
      <label>The full URL to your application homepage<label>
    </div>

    <div class="form-group">
      <input type="text" class="form-control half-width" id="field_callback" ng-model="field_callback" placeholder="Authorization Callback URL">
      <label>Your application’s callback URL; Read our OAuth documentation for more info.<label>
    </div>

    <div class="form-group">
      <textarea class="form-control" id="field_desc" ng-model="field_desc" placeholder="Application Description"></textarea>
      <label>This text is displayed to all potential users of your application<label>
    </div>


    <a type="submit" class="btn btn-primary" style="float:left;width:45%" ng-click="save_application()">S A V E</a>
    <a type="submit" class="btn btn-primary" style="float:right;width:45%" ng-click="close_application()">C L O S E</a>


    <p class="account_msg" style="clear:both;padding-top:50px">
      {{application_msg}}
    </p>
  </form>


</div>

