<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title ng-i18next="[html]app.name"></title>

  <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />
  <link rel="shortcut icon" type="image/x-icon" href="//cdn.shopify.com/s/files/1/0201/1862/t/2/assets/favicon.png?1871">
  <% if (theme.style) { %><link href="<%= theme.style %>" rel="stylesheet"><% } %>

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
