<!DOCTYPE html>
<html class="login-bg">
  <%- include head.ejs %>

<body ng-app="home" ng-controller="Main" ng-cloak>
    <link rel="stylesheet" href="/css/theme/sphere/css/compiled/signup.css" type="text/css" media="screen" />
    <div class="header">
        <a href="index.html">
            <img src="/css/theme/sphere/logo.png" class="logo" alt="logo" width="200" />
        </a>
    </div>
    <div class="login-wrapper container" >
        <div class="box" ng-controller="Login">
            <div class="content-wrap">
                <h6 ng-i18next="[html]title.signin">Sign in</h6>
                <form name="frmSignin" role="form" ng-submit="signin()">

                  <input id="email" ng-model="input_email" ng-required="true" class="form-control" type="text" data-i18n="[placeholder]placeholder.email" placeholder="E-mail address">
                  <span class="alert-msg" ng-if="seek_email"><i class="icon-remove-sign"></i> Invalid or unknown email address</span>
                  <input id="password" ng-model="input_password" ng-required="true" class="form-control" type="password" data-i18n="[placeholder]placeholder.password" placeholder="Your password">
                  <span class="alert-msg" ng-if="seek_password"><i class="icon-remove-sign"></i> Invalid password<br></span>
                  <a href="#" ng-click="forgot()" ng-i18next="[html]link.forgot-password" class="forgot">Forgot password?</a>
                  <div class="action">
                    <input type="submit" value="login" class="btn-glow primary signup" ng-click="signin()"></input>
                  </div>
                </form>
            </div>
        </div>

        <div class="box" ng-controller="Signup">
            <div class="content-wrap">
                <h6>Create an Account</h6>
                  <form name="frmSignup" role="form" ng-submit="signup()">
                  <input id="email" ng-model="input_email" ng-required="true" class="form-control" type="text" data-i18n="[placeholder]placeholder.email" placeholder="Email Address">
                  <input id="name" ng-model="input_name" ng-required="true" class="form-control" type="text" name="name" data-i18n="[placeholder]placeholder.name" placeholder="Full Name">
                  <input id="password" ng-model="input_password" ng-required="true" class="form-control" type="password" data-i18n="[placeholder]placeholder.password" placeholder="Password">
                  <input id="verify_password" ng-model="input_verify_password" ng-required="true" class="form-control" type="password" data-i18n="[placeholder]placeholder.verify-password" placeholder="Verify Password">
                  <div class="action">
                      <a class="btn-glow primary signup" ng-click="signup()">Sign up</a>
                  </div>
                </form>
            </div>
        </div>

    </div>

  <%- include scripts.ejs %>

  </body>
</html>
