<!DOCTYPE html>
<html class="login-bg">
  <%- include head.ejs %>

<body ng-app="home" ng-controller="Main" ng-cloak>
    <link rel="stylesheet" href="/css/theme/sphere/css/compiled/signup.css" type="text/css" media="screen" />
    <div class="header">
        <a href="/">
            <img src="/css/theme/sphere/logo.png" class="logo" alt="logo" width="200" />
        </a>
    </div>
    <div class="login-wrapper container" >

    </div>

  <%- include scripts.ejs %>

  </body>
</html>
    