    <!-- sidebar -->
    <div id="sidebar-nav" ng-controller="SideBar">
        <ul id="dashboard-menu">
            <!-- <li>
                <div class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <a href="/">
                    <i class="icon-home"></i>
                    <span>Home</span>
                </a>
            </li> -->
            <li>
                <a ng-click="btn_account()">
                    <i class="icon-user"></i>
                    <span>Account</span>
                </a>
            </li>
            <li>
                <a ng-click="btn_applications()">
                    <i class="icon-th-large"></i>
                    <span>Applications</span>
                </a>
            </li>

        </ul>
    </div>
    <!-- end sidebar -->
